{% extends "catalog.html" %}

{% block side %}

            <div class="sidebar_panel">
                <h3>Customer Login</h3>
                <form action="login" id="login_form">
                    <label><input id="username" type="text" value="username"></label>
                    <label><input id="password" type="password" value="password"></label>
                    <br>
                    <button type="submit" value="login">Login</button>
                    <button type="button" value="register" style="float: right;">Register</button>
                    <br>
                    <a href="#">Forgot your password?</a>
                </form>
            </div>
            <div class="sidebar_panel">
                <img src="#" alt="Latest promotion">
                <p>
                    Latest promotion here
                    asdfasdfasdfadsfadsfas
                    asdfadsfasdfasdfadsfsdf
                </p>
            </div>

{% endblock %}

{% block content %}
<div id="join_us">
    <img src="{{ MEDIA_URL }}images/banner_join_us.png" alt="Join Us Now!">
</div>

{% endblock %}