{% extends "catalog/index.html" %}

{% block content %}

    <div class="span-18 last product">
        <ul>
            {% for i in 0123456789|make_list %}
                <li class="promotion article">
                    <h3>Promotion {{ i }}</h3>
                    <p>
                        ;laskdfa;lsdfkjal;skdjf;lasdkfj;lasdkjfa;lsdkfja;lsdfkj'lsakdjf;as;laskdfa;
                        lsdfkjal;skdjf;lasdkfj;lasdkjfa;lsdkfja;lsdfkj'lsakdjf;as
                        ;laskdfa;lsdfkjal;skdjf;lasdkfj;lasdkjfa;lsdkfja;lsdfkj'lsakdjf;as;laskdfa;lsdfkjal;skdjf;lasdkfj;lasdkjfa;lsdkfja;lsdfkj'l
                        sakdjf;as;laskdfa;lsdfkjal;skdjf;lasdkfj;lasdkjfa;lsdkfja;lsdfkj'lsakdjf;as;laskdfa;lsdfkjal;skdjf;l
                        asdkfj;lasdkjfa;lsdkfja;lsdfkj'lsakdjf;as;laskdfa;lsdfkjal;skdjf;lasdkfj;lasdkjfa;lsdkfja;lsdfkj'lsakdjf;as;laskdfa
                        ;lsdfkjal;skdjf;lasdkfj;lasdkjfa;lsdkfja;lsdfkj'lsakdjf;as;laskdfa;lsdfkjal;skdjf;lasdkfj;lasdkjfa;lsdkfja;lsdfkj'
                        lsakdjf;as;laskdfa;lsdfkjal;skdjf;lasdkfj;lasdkjfa;lsdkfja;lsdfkj'lsakdjf;as;laskdfa;lsdfkjal;skdjf;lasdkfj;lasdkjfa;
                        lsdkfja;lsdfkj'lsakdjf;as;laskdfa;lsdfkjal;skdjf;lasdkfj;lasdkjfa;lsdkfja;lsdfkj'lsakdjf;as
                    </p>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}