{% extends "base.html" %}

{% block site_wrapper %}
    <div class="container">
        <div class="span-24 last" id="header" style="width: 100%;">
            <div class="span-24 last" style="height: 464px;"></div>
            {% include "tags/navigation.html" %}
        </div>
        <div class="span-6" id="sidebar">
            <div class="wrapper">
                <div class="border_line">
                    <div class="border_line_shadow">{% block side %}{% endblock %}</div>
                </div>
            </div>
        </div>
        <div class="span-18 last" id="content">
            <div class="wrapper">{% block content %}{% endblock %}</div>
        </div>
        <div class="span-24 last" id="footer" style="height: 100px;">
            <div class="wrapper">{% include "tags/footer.html" %}</div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            var side_height = $("#sidebar").height();
            var content_height = $("#content").height();
            if(side_height < content_height) {
                $("#sidebar").height(content_height);
            } else {
                $("#content").height(side_height);
            }
        });
    </script>
{% endblock %}
