{% extends "base.html" %}

{% block site_wrapper %}
    <div class="container">
        <div class="span-24 last" id="header" style="width: 100%;height: 100px;background-color: #a52a2a;">
            <div class="span-24 last" id="logo">Logo Here</div>
            <div class="span-24 last" id="navigation">
                <ul>
                    <li><a href=".">Home</a></li>
                    <li><a href="/product">Product</a></li>
                    <li><a href="/promotion">Promotion</a></li>
                </ul>
            </div>
        </div>
        <div class="span-4" id="content">
            {% block side %}{% endblock %}
        </div>
        <div class="span-20 last">
            {% block content %}{% endblock %}
        </div>
        <div class="span-24 last" id="footer" style="width: 100%;height: 100px;background-color: #a52a2a;">
            footer content here.
        </div>
    </div>
{% endblock %}
