{% extends "catalog/index.html" %}

{% block side %}
    <div class="sidebar_panel" id="contact">
        <h3>Contact Details</h3>
        <div>
            <ul>
                <li><label>Address: </label><br>Shop 4/18 Kenrose St, Carina Brisbane, QLD 4125</li>
                <li>
                    <label>ABN: </label>626 274 787 338</li>
                <li><label>TEL: </label>0411 066 938</li>
                <li><label>Fax: </label>07 3829 9994</li>
            </ul>
        </div>
    </div>
    <div class="sidebar_panel" id="map">
                <iframe width="180" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                        src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Shop+4%2F18+Kenrose+St,+Carina+4125&amp;aq=&amp;sll=-27.485462,153.097548&amp;sspn=0.001304,0.00284&amp;ie=UTF8&amp;hq=&amp;hnear=4%2F18+Kenrose+St,+Carina+Queensland+4152,+Australia&amp;ll=-27.487944,153.099203&amp;spn=0.022842,0.01708&amp;z=14&amp;iwloc=A&amp;output=embed">
                </iframe>
                <br/>
                <small>
                    <a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Shop+4%2F18+Kenrose+St,+Carina+4125&amp;aq=&amp;sll=-27.485462,153.097548&amp;sspn=0.001304,0.00284&amp;ie=UTF8&amp;hq=&amp;hnear=4%2F18+Kenrose+St,+Carina+Queensland+4152,+Australia&amp;ll=-27.487944,153.099203&amp;spn=0.022842,0.01708&amp;z=14&amp;iwloc=A"
                        style="color:#0000FF;text-align:left">
                        View Larger Map
                    </a>
                </small>
    </div>
{% endblock %}

{% block content %}

    <div class="span-18 last about">
        <div class="company_info article">
            <h3>About Us</h3>
            <p>
                das;fkjasdl;fkjaslkdjfalskdjfalsdkjf[osiu[o3qkrngv;lkasfdnvas
                sdafkjasdl'fkja'sdlkfj;adlskjf;alsdkjf;lasdkjf;lasdkjf;lasdkjf;lasdkjf;lasdkjf;alsdkjf;alsdkfj
                asdfljas;dlfkjas;dlfkjas;dlkfj;alsdkjf;alsdkfj;aslkcj;lskjco[<i>jwfowqjfo</i>
            </p>
        </div>
        <div class="people_info article">
            <h3>Our People</h3>
            <p>lds;akfja;slkdjf;laskdjf;laksjdf'laKJSFDasipasoknf;knc;slknvcmZ:xvkjsad;lfkasdf;lkjasdl;ksa;dlfkjas
            asdl;fkjasdfl;kajsdflkjasdf;lkjasdf'lkjas'ldcjkZXOcj;qwlkvoiuzhv nqejnrbv[iosjnv[
                <o>ijfoq'wf</o>ew;flkajsdfl;kjasd;flkjas;ldkfjoqi4hrfl;kasdvnalsk
            </p>
        </div>
    </div>
    
{% endblock %}